* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

body {
  min-height: 100vh;
  background: linear-gradient(180deg, #0b0f3a, #05071f);
  color: #fff;
  margin: 0px 150px;
}

.container {
  width: 90%;
  margin: auto;
  padding: 30px 0;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  font-weight: 600;
}

.unit-select {
  background: rgba(255,255,255,0.1);
  border: none;
  color: #fff;
  padding: 8px 14px;
  border-radius: 8px;
  cursor: pointer;
}

.title {
  text-align: center;
  font-size: 40px;
  margin: 30px 0;
}

.search-box {
  display: flex;
  justify-content: center;
  gap: 10px;
  margin-bottom: 40px;
}

.search-box input {
  display: relative;
  width: 400px;
  padding: 12px;
  border-radius: 10px;
  border: none;
  background: rgba(255,255,255,0.1);
  color: white;
}

.search-box input::placeholder {
  color: #ddd;
}

.search-box button {
  padding: 12px 20px;
  border-radius: 10px;
  border: none;
  background: #5b6cff;
  color: white;
  cursor: pointer;
}

.main-grid {
  display: grid;
  grid-template-columns: 2fr 1fr;
  gap: 30px;
}

.card {
  background: rgba(255,255,255,0.08);
  backdrop-filter: blur(12px);
  border-radius: 18px;
  padding: 20px;
}

.main-card {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: linear-gradient(135deg, #4f63ff, #6a5cff);
  height: 20vh;
}

.temp {
  display: flex;
  align-items: center;
  gap: 10px;
}

.temp h1 {
  font-size: 90px;
}

.stats {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 15px;
  margin-top: 20px;
  margin-bottom: 20px;
}

.small-card h2 {
  margin-top: 20px;
  font-size: 40px;
}

.small-card {
    height: 15vh;
}

.daily {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  gap: 15px;
  margin-top: 15px;
}


.day {
  text-align: center;
  font-size: 14px;
  height: 20vh;
}

.icon {
    font-size: 50px;
}

.right h3 {
  margin-bottom: 15px;
}

.right-card-top {
    display: flex;
    gap: 270px;
}

.right-card-top select {
    height: 30px;
}

.hour {
  display: flex;
  justify-content: space-between;
  padding: 18px 0;
  border-bottom: 1px solid rgba(255,255,255,0.1);
}
